---
title: Page not found
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Page not found", :subtitle => "404", :background_image => "img/404.jpg", :style => "site-heading" }) %>







<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p>Looks like you got to a page that doesn't exist. If you got here by clicking a link on my website, please let me know by making a <a href = "https://github.com/mariusc/mariusc.github.io/issues/new">GitHub issue</a> or by <a href = "http://twitter.com/marius_const">tweeting to me</a>.</p>

    </div>
  </div>
</div>