---

---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Marius Constantinescu", :subtitle => "iOS Developer", :background_image => "img/me.jpg", :style => "site-heading-marius" }) %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    	<p>I'm Marius Constantinescu and I'm an iOS developer</p>

        <p>I've been working as an iOS developer for more than 9 years for companies such as <b><a href = "http://www.nodesagency.com/"> Nodes</a></b>, <b><a href = "http://www.greenerpastures.dk/"> Greener Pastures</a></b> or <b><a href = "https://monstar-lab.com">Monstarlab</a></b> (formerly Nodes)</p>

        <p>I'm very passionate about what I do and I always try to keep up to date with the latest news and trends in iOS development. </p>

        <p>I help maintain and contribute to <a href = "https://github.com/mariusc">many iOS open source projects</a>, most of them on the <a href="https://github.com/nodes-ios">Nodes iOS GitHub account</a>. Since September 2017, I'm in charge of <a href = "https://github.com/iOS-Goodies/iOS-Goodies">iOS Goodies</a>, I maintain the most popular open source <a href = "https://github.com/Lascorbe/CocoaConferences">list of mobile conferences</a> out there, I write stuff on <a href = "/blog.html">my blog</a>, which sometimes gets picked by <a href = "https://andybargh.com/newsletter-issue-78">some</a> <a href = "http://ios-goodies.com/post/152698650651/week-156">pretty</a> <a href = "http://ios-goodies.com/post/157919702201/week-172">big</a> <a href = "https://swiftnews.curated.co/issues/123">iOS development</a> <a href = "https://iosdevweekly.com/issues/298#code">newsletters</a>. I also wrote one <a href = "https://iosdevweekly.com/issues/297#start">issue of iOS Dev Weekly.</a> </p> 

        <p>I've given some <a href = "https://speakerdeck.com/mariusc">talks</a> internally at Nodes or Greener Pastures, at the local iOS developer groups in <a href = "https://www.meetup.com/CopenhagenCocoa/">Copenhagen</a> or <a href = "https://www.meetup.com/CocoaHeadsBucharest/">Bucharest</a>, or at <a href = "http://www.uamobile.org/topics/enhance-your-world-arkit">UA Mobile in Ukraine</a>. </p>

        <p>Besides open source stuff, I also make apps. You can read more about the apps I built and about my competences in <a href = "/portfolio.html">my portfolio</a>.</p>

       <p> If you want to know more about me, check out the <a href = "/old_index.html">previous long version of my bio</a>, or send me a <a href = "http://www.twitter.com/marius_const">DM on twitter</a> and ask.


    </div>
  </div>
</div>
