---

---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Marius Constantinescu", :subtitle => "iOS Developer", :background_image => "img/me.jpg", :style => "site-heading-marius" }) %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    	<p>I'm Marius Constantinescu and I'm an iOS developer</p>

        <p>Since March 2014, I've been working at <b><a href = "http://www.nodesagency.com/"> Nodes</a></b> in Copenhagen.</p>

        <p>I'm very passionate about what I do and I always try to keep up to date with the latest news and trends in iOS development. </p>

        <p>I help maintain and contribute to <a href = "https://github.com/mariusc">many iOS open source projects</a>, most of them on the <a href="https://github.com/nodes-ios">Nodes iOS GitHub account</a>. I'm one of the main contributors to <a href = "https://github.com/iOS-Goodies/iOS-Goodies">iOS Goodies</a>, I maintain the most popular open source <a href = "https://github.com/Lascorbe/CocoaConferences">list of mobile conferences</a> out there, I write stuff either on <a href = "/blog.html">my blog</a> or on the <a href = "https://engineering.nodesagency.com/articles"> Nodes engineering blog</a> which sometimes gets picked by <a href = "https://andybargh.com/newsletter-issue-78">some</a> <a href = "http://ios-goodies.com/post/152698650651/week-156">pretty</a> <a href = "http://ios-goodies.com/post/157919702201/week-172">big</a> <a href = "https://swiftnews.curated.co/issues/123">iOS development newsletters</a>.</p>

        <p>I've also given some <a href = "https://speakerdeck.com/mariusc">talks</a> internally at Nodes or at the <a href = "https://www.meetup.com/CopenhagenCocoa/">local iOS developer group</a>. </p>

        <p>Besides open source stuff, I also make apps. You can read more about the apps I built and about my competences in <a href = "/portfolio.html">my portfolio</a>.</p>

       <p> If you want to know more about me, check out the <a href = "/old_index.html">previous long version of my bio</a>, or send me a <a href = "http://www.twitter.com/marius_const">tweet</a> and ask.


    </div>
  </div>
</div>