---
title: About
---

<!-- Page Header -->
<%= partial("header", :locals => { :title => "Marius Constantinescu", :subtitle => "iOS Developer", :background_image => "img/me.jpg", :style => "site-heading-marius" }) %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p>I am Marius and I'm an engineer in Computer Science. I'm from Pitești and I finished my BSc. studies at <a href = "http://acs.pub.ro/en/"><b>"Politehnica" University of Bucharest</b></a>, Romania. For my master studies, I chose Denmark, where the degree in Digital Media Engineering at <a href = "http://www.dtu.dk/english" target="_blank"><b>Technical University of Denmark (DTU)</b></a> appealed to me the most. As a result, I moved to Copenhagen in August 2012, where I finished my degree in 2014.</p>

        <p>My first contact with a Mac and Objective C and iOS development was in the spring of 2010, when I got my hands on a Mac Mini and an iPod touch in a lab in my University. I got myself a copy of the key to that lab and started watching Paul Hegarty's course on iTunes U. My start was slow, mainly because of me owning a PC and not a Mac. In 2012 I did my bachelor thesis on an iOS project and I really enjoyed it. In the summer of 2013 I took part in the <a href = "https://developers.google.com/open-source/soc/"><b>Google Summer of Code</b></a> program, working on improving the usability of <a href = "https://github.com/City-of-Bloomington/open311-mobile"> GeoReporter</a>, a non-emergency issue reporter for iOS. I continued working on this project even after GSoC ended.</p>

        <p>Since March 2014 I work as an iOS developer at <b><a href = "http://www.nodesagency.com/"> Nodes</a></b> in Copenhagen, where we build awesome digital stuff.</p>

        <p>I spend a lot of time in front of my MacBook. I'm always working on something, either a personal project, some open source stuff or simple experiments with new technologies. If I'm not at my computer, I'm probably outdoors. Besides computers, technology and mobile, I like sports, board games and travelling to new places.</p>

        <p>If you want to contact me, you can send me a <a href = "http://www.twitter.com/marius_const">tweet</a>.


    </div>
  </div>
</div>